body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    color: #001b2e;
    font-family: "Manrope", sans-serif;
}

.navbar {
    --si-navbar-padding-x: 0;
    --si-navbar-padding-y: 0.5rem;
    --si-navbar-color: #33354d;
    --si-navbar-hover-color: #f9b426;
    --si-navbar-disabled-color: #9397ad;
    --si-navbar-active-color: #f9b426;
    --si-navbar-brand-padding-y: 0.5rem;
    --si-navbar-brand-margin-end: 1rem;
    --si-navbar-brand-font-size: 1.375rem;
    --si-navbar-brand-color: #0b0f19;
    --si-navbar-brand-hover-color: #0b0f19;
    --si-navbar-nav-link-padding-x: 0.875rem;
    --si-navbar-toggler-padding-y: 0.625rem;
    --si-navbar-toggler-padding-x: 0.25rem;
    --si-navbar-toggler-font-size: 1.125rem;
    --si-navbar-toggler-icon-bg: initial;
    --si-navbar-toggler-border-color: transparent;
    --si-navbar-toggler-border-radius: 0;
    --si-navbar-toggler-focus-width: 0;
    --si-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--si-navbar-padding-y) var(--si-navbar-padding-x);
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 18px;
}

.text-column p {
    line-height: 2;
}

.contact-section {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.heading-container {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.contact-section textarea {
    resize: vertical;
}

.contact-section button {
    border: none;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    padding: 15px 30px;
    background-color: #0355cc;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-section button:hover {
    background-color: #001b2e;
}
